# Ignore all
*
# But these
!.vscode
!docs
!doxygen-awesome-css
!examples
!gencodecs
!include
!lib
!lib/.gitkeep
!licenses
!scripts
!src
!templates
!test
!.clang-format
!.git*
!Doxyfile
!*.md
!LICENSE
!Makefile
!config.json
