.stensal*
*.tar
*.exe
*.out
.ccls-cache
*.o
*~
.idea
cmake-build-debug
*dev.json
obj
lib
dump.*
.cee-contributor
mujs/build
bots-2
*dump.json
add-ons
*.log
orca-docs
Doxyfile
botx
*.db
*.swp
my_bot/mybot_config.json
