{
	"discord": {
		   "token":"YOUR-BOT-TOKEN"
	},
	"logging": {
		   "filename": "bot.log",
		   "level": "info",
		   "dump_json": {
		      "filename": "dump.json",
		      "enable": true,
		   },
		   "dump_curl": {
		      "filename": "dump.curl",
		      "enable": true,
		   }
	},
	"github": {
	       "username": "YOUR-GITHUB-USERNAME",
	       "token": "YOUR-PERSONAL-ACCESS-TOKEN"
	}
}
