{
  "logging": {
    "filename": "bot.log",
    "level": "info",
    "dump_json": {
      "filename": "dump.json",
      "enable": true,
    }
  },
  "discord": {
    "token":"YOUR-BOT-TOKEN"
  },
  "slack": {
    "app-token":"YOUR-APP-TOKEN",
    "bot-token":"YOUR-BOT-TOKEN",
    "client-id":"YOUR-CLIENT-ID",
    "client-secret":"YOUR-CLIENT-SECRET",
    "signing-secret":"YOUR-SIGNING-SECRET"
  },
  "github": {
    "username": "YOUR-GITHUB-USERNAME",
    "token": "YOUR-PERSONAL-ACCESS-TOKEN"
  },
  "reddit": {
    "username": "YOUR-REDDIT-USERNAME",
    "password": "YOUR-REDDIT-PASSWORD",
    "client_id": "REDDIT-CLIENT-ID",
    "client_secret": "REDDIT-CLIENT-SECRET"
  }
}
