.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:hover {
    cursor: pointer;
}

.toggle .header:after {
    content: " ➕";
}

.toggle .header.open:after {
    content: " ➖";
}
