name: github pages

on:
  push:
    branches: [master]
  pull_request:
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Dependencies
        run: |
          echo "Install cee-utils"
          ./scripts/get-cee-utils.sh
          echo "Clone Orca-Docs"
          git clone https://github.com/cee-studio/orca-docs
          cd orca-docs && ln -s ../../orca orca && cd ..
          echo "Install Sphinx"
          pip install sphinx
          pip install sphinx_rtd_theme
          echo "Install Breathe"
          pip install breathe

      - name: Doxygen Action
        uses: mattnotmitt/doxygen-action@v1.3.1
        with:
          working-directory: 'orca-docs/'

      - name: Breathe Action
        run: make -C orca-docs/docs html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.7.3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./orca-docs/docs/build/html
