include(./concord.m4)

CONCORD_HEADER(`concord_user')

.SH NAME
concord_user - functions related to interacting with discord users

.SH DESCRIPTION
This manual documents the user API provided by Concord.

.SH SEE ALSO
.BR concord (3)
